@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --pink: #ff046f;
  --violet: #c63bfa;
  --white: #ffffff;
  --background-color: #310e3d;
  --background-body: #312f2f;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

body {
  background-color: var(--background-body);
  margin: 0;
  padding: 0;
}

#global-container {
  width: 70%;
  max-width: 780px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden;
}

.title {
  display: block;
  align-items: center;
  text-align: center;
}

sup {
  font-size: 10px;
}

.audio-instructions {
  text-align: center;
}

.title > p {
  text-align: center;
}

.audio-content {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-container {
  padding: 5px;
}

.main-content {
  margin-top: 1rem;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

ul li {
  margin-left: 2rem;
  margin-right: 1rem;
  line-height: 1.5rem;
}

.secondary-content {
  margin-top: 1.5rem;
}

.secondary-content h2 {
  text-align: center;
}

.secondary-content p {
  margin: 1rem;
}

.code-example {
  text-align: center;
}

.code-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

img {
  width: 500px;
  margin: 0 auto;
}

strong {
  color: var(--pink);
}

@media (max-width: 980px) {
  #global-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
  }
}

@media (max-width: 500px) {
  .code-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
  }
}

@media (max-width: 460px) {
  #global-container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
  }
}
